body{
  max-height: 100vh;
  display: flex;
  justify-content: center;
}
.block{
  border: 2px solid;
  height: 100px;
  width: 100px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.board{
  padding: 20px;
}
.row{
  display: flex;
}
.tictact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}